@model IEnumerable<EbayView.Models.ViewModel.Category.GetCategoriesOutputModel>

@{
    ViewData["Title"] = "Index Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div style="width:100%;text-align:center">
    <h1>Create New Product</h1>
</div>
<div class="newcatg">
    @*<form action>
        
    </form>*@
</div>


<h1>List of All Products</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
                Category name
            </th> 
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                number of product in this Category
            </th>
            <th>Edite</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)   { 
        <tr>
            <td>#</td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
                item.Name
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Price)*@
                number of product in catg
            </td>
            <td>
                  <button class="btn btn-primary"> Edite</button>
            </td>
            <td>
                  <button class="btn btn-primary"> Delete</button>
            </td>
             
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
